@page
@model Tally.Web.Pages.Polls.Create

@{
    ViewData["Title"] = "Create Poll";
}

<h1>@ViewData["Title"]</h1>

<h4>Poll</h4>
<hr/>
<div class="row">
    <div>
        <form method="post" id="pollForm">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="col-12 col-sm-8 col-md-6 mb-3">
                    <fieldset>
                        <legend>General Information</legend>
                        <div class="form-floating mb-3">
                            <input asp-for="Poll.Question" class="form-control" placeholder="Is this thing on?"/>
                            <label asp-for="Poll.Question"></label>
                            <span asp-validation-for="Poll.Question" class="text-danger"></span>
                        </div>
                        @for (var i = 1; i <= 4; i++)
                        {
                            <div class="form-floating @(i < 4 ? "mb-3" : null)">
                                <input asp-for="Poll.Options[i - 1].Text" class="form-control" placeholder="Option @i"/>
                                <label asp-for="Poll.Options[i - 1].Text">Option @i</label>
                                <span asp-validation-for="Poll.Options[i - 1].Text" class="text-danger"></span>
                            </div>
                        }
                    </fieldset>
                </div>
                <div class="col-12 col-sm-8 col-md-6 mb-3">
                    <fieldset>
                        <legend>Poll Channels</legend>
                        <div class="d-flex align-items-center justify-content-between mb-3"
                             style="padding-top: 0.62rem!important; padding-bottom: .62rem!important;">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="channel-telegram">
                                <label class="form-check-label" for="channel-telegram">Telegram</label>
                            </div>
                            <div class="d-flex justify-content-end align-items-center">
                                <button type="button" class="btn btn-outline-info">
                                    <i class="bi bi-gear"></i> Configure
                                </button>
                            </div>
                        </div>
                        <div class="d-flex align-items-center justify-content-between mb-3"
                             style="padding-top: 0.62rem!important; padding-bottom: .62rem!important;">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="channel-twitter">
                                <label class="form-check-label" for="channel-twitter">Twitter</label>
                            </div>
                            <div class="d-flex justify-content-end align-items-center">
                                <button type="button" class="btn btn-outline-info">
                                    <i class="bi bi-gear"></i> Configure
                                </button>
                            </div>
                        </div>
                        <div class="d-flex align-items-center justify-content-between mb-3"
                             style="padding-top: 0.62rem!important; padding-bottom: .62rem!important;">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="channel-github">
                                <label class="form-check-label" for="channel-github">GitHub</label>
                            </div>
                            <div class="d-flex justify-content-end align-items-center">
                                <button type="button" class="btn btn-outline-info">
                                    <i class="bi bi-gear"></i> Configure
                                </button>
                            </div>
                        </div>
                        <div class="d-flex align-items-center justify-content-between mb-3"
                             style="padding-top: 0.62rem!important; padding-bottom: .62rem!important;">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="channel-discord">
                                <label class="form-check-label" for="channel-discord">Discord</label>
                            </div>
                            <div class="d-flex justify-content-end align-items-center">
                                <button type="button" class="btn btn-outline-info">
                                    <i class="bi bi-gear"></i> Configure
                                </button>
                            </div>
                        </div>
                        <div class="d-flex align-items-center justify-content-between"
                             style="padding-top: 0.62rem!important; padding-bottom: .62rem!important;">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="channel-web">
                                <label class="form-check-label" for="channel-web">Web</label>
                            </div>
                            <div class="d-flex justify-content-end align-items-center">
                                <button type="button" class="btn btn-outline-info">
                                    <i class="bi bi-gear"></i> Configure
                                </button>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
        </form>
        <div class="row">
            <div class="col">
                <a asp-page="Index" class="btn btn-outline-warning w-100" role="button">Back to List</a>
            </div>
            <div class="col">
                <input type="submit" form="pollForm" value="Create" class="btn btn-outline-primary w-100"/>
            </div>
        </div>
    </div>
</div>

<div>

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}